// Here your scss code
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

main {
	padding: 20px;
	height: calc(100vh - 50px);
}

hr {
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #ddd;
}

.flex {
	display: flex;
}

.jc-b {
	justify-content: space-between;
}

.center {
	text-align: center;
}

.btn {
	cursor: pointer;
	color: #fff;
	border-radius: .25rem;
	padding: .375rem .75rem;
	transition: .3s;
}

.btn-add {
	background-color: #28a745;
	border-color: #28a745;

	&:hover {
		background-color: #218838;
		border-color: #1e7e34;
	}
}

.btn-cancel {
	background-color: #dc3545;
	border-color: #dc3545;

	&:hover {
		background-color: #c82333;
		border-color: #bd2130;
	}
}

.alert {
	padding: 10px 15px;
	border-radius: 4px;
	&-error {
		color: #721c24;
		background-color: #f8d7da;
		border-color: #f5c6cb;
	}
}

.popup {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background: white;
	width: 500px;
	padding: 20px;
	border-radius: 4px;
}

.popupFilter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
	cursor: pointer;
}

ul {
	list-style: none;
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;

	li {
		display: grid;
		grid-template-columns: auto auto 1fr;
		grid-gap: 20px;
		align-items: center;
		padding: 15px;
		border: 1px #ddd solid;
		border-radius: 4px;
		transition: 0.3s ease;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;

	input {
		padding: 10px;
		border: none;
		border-bottom: 1px solid #ddd;
		margin-bottom: 7px;
		&:hover {
			border-bottom: 1px solid #007bff;
		}
	}
}

.actions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5px;
	column-gap: 10px;
	margin-left: auto;

	img {
		filter: invert(1);
	}

	button {
		width: 35px;
		height: 35px;
		&.btn {
			padding: .5rem .5rem;
		}
	}
}

.search {
	display: block;
	margin: 10px auto;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
